@{
    ViewData["Title"] = "Work expierence";
}


<div class="text-center">
    <h1 class="display-4">Work expierence</h1>
</div>

<hr />

<br />

<div style="margin:auto">
    <a href="/resume/Resume.pdf" download class="btn" style="background-color:#CD533B; display:block; margin: auto; width:18%">Download full resume <i class="bi bi-download"></i></a>
</div>

<br />

<br />


<div class="card mx-auto" style="width:60%;">

    <div class="card-header" style="background-color:#CD533B">

        Intern, eBlu Solutions, Louisville, Kentucky<br />May 2021 - August 2021

    </div>

    <div class="card-body">

        <ul>
            <li>Participated in daily stand up meetings with a software team of 8 co-workers</li>
            <li>Wrote and tested C# code to complete various user stories and improve the eBlu portal</li>
            <li>Used Amazon DevOps and Git to collaborate with the entire software team</li>
            <li>Completed 20 side projects to improve skills in C#, HTML, .NET programming, and the MVC framework</li>
        </ul>


    </div>

</div>

<br />
<br />

<div class="card mx-auto" style="width:60%;">

    <div class="card-header" style="background-color:#CD533B">

        Co-Op, Itron, West Union, South Carolina<br />January 2020 - August 2020

    </div>

    <div class="card-body">

        <ul>
            <li>Monitored 7 routers for various errors using PuTTY, and reported findings to the firmware team on a daily basis</li>
            <li>Wrote and maintained bash scripts to assist with daily testing as well as other activities</li>
            <li>Ensured that bug fixes were behaving as expected following new builds</li>
            <li>Flashed new builds onto 16 routers weekly, and ensured units were configured correctly</li>
            <li>Successfully transitioned to a remote work environment due to the Covid-19 pandemic</li>

        </ul>

    </div>

</div>

<br />
<br />

<div class="card mx-auto" style="width:60%;">

    <div class="card-header" style="background-color:#CD533B">

        Intern, Stansteel and Hotmix Parts, Louisville, Kentucky<br />July 2018 - August 2018

    </div>

    <div class="card-body">

        <ul>
            <li>Contacted clients and potential clients to update customer records and acquire new business</li>
            <li>Gathered information regarding a number of asphalt plants through internet research</li>
            <li>Compiled weekly reports to keep sales representatives up to date with my findings</li>

        </ul>

    </div>

</div>




@*<div class="text-center">
        <a href="/resume/Resume.pdf" download>
            <img src="/resume/Resume.PNG" alt="Resume" class="align-content-center">
        </a>
    </div>*@

