@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Aaron Lattis</h1>


</div>
    
<hr />

<p class="text-center">Computer Science major with internship experience working on software development teams. Highly motivated individual eager to learn on the job. </p>

