
@{
    ViewData["Title"] = "Past projects";
}


<div class="text-center">
    <h1 class="display-4">Past projects</h1>
</div>

<hr />

<br />


<div class="card-deck">

    <div class="card" style="background-color:#CD533B">

        <img class="card-img-top" src="/img/engine1.PNG" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">

            A player character that can run across the screen. Written in C++.

        </div>

        <a href="https://github.com/aaron-lattis/4160_PlayerCharacter" class="stretched-link" target="_blank"></a>

    </div>

    <div class="card"style="background-color:#CD533B">

        <img class="card-img-top" src="/img/truck1.jpg" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">

            A website to track the performance of semi truck drivers. Written in Python, HTML, CSS, and other languages. 

        </div>

        <a href="https://github.com/aaron-lattis/4910_DiverIncentiveWebsite" class="stretched-link" target="_blank"></a>

    </div>
</div>

<br />
<br />

<div class="card-deck">

    <div class="card" style="background-color:#CD533B">

        <img class="card-img-top" src="/img/finalGame.PNG" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">

            A video game where the player must avoid red dots to stay alive as long as possible. Written in C++.

        </div>

        <a href="https://github.com/aaron-lattis/4160_FinalVideoGame" class="stretched-link" target="_blank"></a>

    </div>

    <div class="card" style="background-color:#CD533B">

        <img class="card-img-top" src="/img/engine2.PNG" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">

            A scene created using openGL and images from the internet. Written in C++.

        </div>

        <a href="https://github.com/aaron-lattis/4160_Drawing" class="stretched-link" target="_blank"></a>

    </div>
</div>


<br />
<br />

<div class="card-deck">

    <div class="card" style="background-color:#CD533B"> 

        <img class="card-img-top" src="/img/AI1.PNG" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B;">

            Play Connect 4 against an AI agent that uses minmax decision rules. Written in Python.

        </div>

        <a href="https://github.com/aaron-lattis/4420_Connect4AI" class="stretched-link" target="_blank"></a>

    </div>

    <div class="card" style="background-color:#CD533B">

        <img class="card-img-top" src="/img/405011.PNG" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">

            An iterated function system used to create an image. Written in C++.

        </div>

        <a href="https://github.com/aaron-lattis/4040_IteratedFunctionSystem" class="stretched-link" target="_blank"></a>

    </div>
</div>

<br />
<br />

<div class="card-deck">

    <div class="card" style="background-color:#CD533B">

        <img class="card-img-top" src="/img/thiswebsite.PNG" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B;">

            This website! Check out the C#, HTML, and Bootstrap code used to create this website.

        </div>

        <a href="https://github.com/aaron-lattis/ENGL3040_Website" class="stretched-link" target="_blank"></a>

    </div>

    <div class="card" style="background-color:#CD533B">

        <img class="card-img-top" src="/img/40502.PNG" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">
            
            A simple ray tracer written in C++. 

        </div>

        <a href="https://github.com/aaron-lattis/4050_RayTracer" class="stretched-link" target="_blank"></a>

    </div>
</div>

<br />