
@{
    ViewData["Title"] = "Past pojects";
}


<div class="text-center">
    <h1 class="display-4">Past pojects</h1>
</div>

<hr />


<div class="card-deck">

    <div class="card">

        <img class="card-img-top" src="/img/truck1.jpg" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">

            Stuff about project

        </div>

    </div>

    <div class="card">

        <img class="card-img-top" src="/img/truck1.jpg" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">



        </div>

    </div>



</div>

<br />

<div class="card-deck">

    <div class="card">

        <img class="card-img-top" src="/img/truck1.jpg" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">



        </div>

    </div>

    <div class="card">

        <img class="card-img-top" src="/img/truck1.jpg" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">



        </div>

    </div>

    <div class="card">

        <img class="card-img-top" src="/img/truck1.jpg" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">



        </div>

    </div>

</div>

<br />

<div class="card-deck">

    <div class="card">

        <img class="card-img-top" src="/img/truck1.jpg" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">



        </div>

    </div>

    <div class="card">

        <img class="card-img-top" src="/img/truck1.jpg" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">



        </div>

    </div>

    <div class="card">

        <img class="card-img-top" src="/img/truck1.jpg" alt="Card image">

        <div class="card-footer" style="background-color:#CD533B">



        </div>

    </div>

</div>

<br />