@{
    ViewData["Title"] = "About me";
}


<div class="text-center">
    <h1 class="display-4">About me</h1>
</div>

<hr />
<br />

<div class="container">
    <div class="row">
        <div class="col">
            <img src="/img/IMG_0718.jpg" alt="..." class="img-fluid rounded" style="border-color:#CD533B; border: 5px solid #CD533B;">
        </div>
        <div class="col" style="display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            text-align: center;
            align-items: center;">

            I am a computer science student at Clemson University preparing to graduate in December of 2021. During my time at
            Clemson I have had three internships, worked on numerous coding projects, and have leanred more about computer science than I
            could have imagined. I am extremely exited
            for what is to come following graduation, and to see where my degree from Clemson takes me. Go Tigers!

        </div>
    </div>
</div>


<br />
<hr />
<br />

<div class="container">
    <div class="row">
        <div class="col" style="display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            text-align: center;
            align-items: center;">
            
            I enjoy travleing, the outdoors, and sports. I have been lucky enough to go hiking in places such as the Grand Canyon, the White Mountains of 
            New Hampshre, and the sand dunes of Michigan. I hope to one day visit all of the national parks in the United States. My favorite place
            I have traveled to is Italy, and I am excited to get back to traveling in the coming years. I am also a big fan of college football
            and college basketball and love to cheer on the Clemson Tigers and the Louisville Cardinals. 

        </div>

        <div class="col" >

            <img src="/img/me4.jpg" alt="..." class="img-fluid rounded" style="border-color:#CD533B; border: 5px solid #CD533B;">

        </div>
    </div>
</div>

<br />
<hr />
<br />

<div class="container">
    <div class="row">
        <div class="col">
            <img src="/img/me2.jpg" alt="..." class="img-fluid rounded" style="border: 5px solid #CD533B;">
        </div>
        <div class="col align-items-center" style="display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            text-align: center;
            align-items: center;">

            <p>I was born and raised in Louisville, Kentucky and I graduated from Kentuky Country Day High School in 2017. In high school I played baseball for four years, 
            and I was on the swim team for three years. Before high school I also played soccer, basketball, and tennis. Growing up playing sports
            has taught me countless life lessons and given me endless great memories that I hold dear to this day.</p>

        </div>
    </div>
</div>


